<section id="section-testimonials" class="vc_row wpb_row vc_row-fluid testimonials vc_custom_1440908300509"><div class="container wpb_column vc_column_container"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="testimonials-slider" class="carousel slide"><ol class="carousel-indicators"><li data-target="#testimonials-slider" data-slide-to="0" class="active"></li><li data-target="#testimonials-slider" data-slide-to="1"></li></ol><div class="carousel-inner"><div class="active item">
  <div class="col-md-2 col-md-offset-1">
    <div class="quote-icon"><img width="1" height="1" src="wp-content/uploads/2015/08/dude.svg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></div>
  </div>

  <div class="col-md-8">
    <p class="lead">Well... honestly it doesn"t get much better than this! These guys know what they"re doing!</p>
    <cite>John Does, <a href="#">Freelance Journalist</a></cite>
  </div>
</div><div class="item">
  <div class="col-md-2 col-md-offset-1">
    <div class="quote-icon"><img width="1" height="1" src="wp-content/uploads/2015/08/girl.svg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" /></div>
  </div>

  <div class="col-md-8">
    <p class="lead">If i had to do it again, i"d definitely go with the same team - that was an amazing experience.</p>
    <cite>Sarah Jackson, <a href="#">Startup Owner</a></cite>
  </div>
</div></div><a href="#testimonials-slider" data-slide="prev" class="carousel-control fui-arrow-left left"></a><a href="#testimonials-slider" data-slide="next" class="carousel-control fui-arrow-right right"></a></div></div></div></div></section>


<section id="section-faq" class="vc_row wpb_row vc_row-fluid text-center faq vc_custom_1441340488049"><div class="container wpb_column vc_column_container"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="font-size: 60px;text-align: center" class="vc_custom_heading vc_custom_1440908426822">F.A.Q.</h2><p style="text-align: center" class="vc_custom_heading lead">You have a question? Someone else might have had the exact same one. Lets find out!</p><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340518214"><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="accordion" class="panel-group ">
  <div class="panel panel-success">
    <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#is-this-template-compatible-with-bootstrap-3" class="accordion-toggle">Is this template compatible with Bootstrap 3?</a></div>
    <div id="is-this-template-compatible-with-bootstrap-3" class="panel-collapse collapse">
      <div class="panel-body">Absolutely! As shown with a few examples within this demo, you can use all the bootstrap goodies such as carousels, modal windows, tooltips, tabs, accordions, form elements...
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#are-there-more-icons-available" class="accordion-toggle">Are there more icons available?</a></div>
    <div id="are-there-more-icons-available" class="panel-collapse collapse">
      <div class="panel-body">Hell yeah! This template is built on the awesome <a href="http://designmodo.com/flat/" target="_blank">Flat UI Pro kit by Designmodo</a>. All the icons &amp; goodies you can see on the kit presentation can be used in Booom!
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#can-you-resize-the-illustrations" class="accordion-toggle">Can you resize the illustrations?</a></div>
    <div id="can-you-resize-the-illustrations" class="panel-collapse collapse">
      <div class="panel-body">Those gorgeous illustrations are available in SVG format (vector), which means they"re completely scaleable without any quality loss.
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#does-the-template-hack-into-bootsrap-core-files" class="accordion-toggle">Does the template hack into Bootsrap core files?</a></div>
    <div id="does-the-template-hack-into-bootsrap-core-files" class="panel-collapse collapse">
      <div class="panel-body">Nooooo. Yeww, no way! The Bootsrap files are totally untouched - all the customizations are done on extra css (or LESS) files, so you can upgrade bootstrap versions wihout any modification losses
      </div>
    </div>
  </div>
</div><div class="alert alert-info  contact-info"><p class="lead">Our Contact Details</p>
  <div class="row">
    <div class="col-md-4 col-xs-6 text-left contact-field-type"><strong>Address</strong></div>
    <div class="col-md-8 col-xs-6 contact-field-value">
      <address>144 Pitt Street, Byron Bay, Australia<br></address>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-6 text-left contact-field-type"><strong>Phone Number</strong></div>
    <div class="col-md-8 col-xs-6 contact-field-value">
      <address>+61 (0) 243 888 888<br></address>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-6 text-left contact-field-type"><strong>Mobile Number</strong></div>
    <div class="col-md-8 col-xs-6 contact-field-value">
      <address>+61 (0) 424 999 999<br></address>
    </div>
  </div>
</div></div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div role="form" class="wpcf7" id="wpcf7-f35-p42-o1" lang="en-US" dir="ltr">
  <div class="screen-reader-response"></div>
  <form action="http://themeforest.simonswissbox.com/booom-wp/#wpcf7-f35-p42-o1" method="post" class="wpcf7-form" novalidate="novalidate">
    <div style="display: none;">
      <input type="hidden" name="_wpcf7" value="35" />
      <input type="hidden" name="_wpcf7_version" value="4.6" />
      <input type="hidden" name="_wpcf7_locale" value="en_US" />
      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f35-p42-o1" />
      <input type="hidden" name="_wpnonce" value="2dfdd189f3" />
    </div>
    <div class="row contact-intro">
      <div class="col-md-3 text-right"><img src="wp-content/uploads/2015/08/girl.svg" alt="" title=""></div>
      <div class="col-md-9">
        <p class="lead">Didnt find what you were looking for? Shoot us a line!</p>
      </div>
    </div>
    <p><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control input-hg" aria-required="true" aria-invalid="false" placeholder="Your name..." /></span><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control input-hg" aria-required="true" aria-invalid="false" placeholder="Your e-mail address..." /></span><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea form-control input-hg" aria-invalid="false" placeholder="Your message..."></textarea></span><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-inverse btn-hg btn-block" id="submit" /></p>
    <div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div></div></div></div></div></div></section>