<section id="section-features" class="vc_row wpb_row vc_row-fluid features text-center vc_custom_1440589188245">
  <div class="container wpb_column vc_column_container">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <h2 style="font-size: 60px;text-align: center" class="vc_custom_heading vc_custom_1440906225343">
          Dynamite Features
        </h2>
        <p style="text-align: center;font-family:Lato;font-weight:300;font-style:normal" class="vc_custom_heading lead">Wow your visitors with beautiful, resizable SVG cons.</p>
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340373824">
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="feature-icon">
                  <img src="wp-content/uploads/2015/08/key.svg" title="Ready to Start">
                </div>
                <h4>Ready to Start</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="feature-icon">
                  <img src="wp-content/uploads/2015/08/magic.svg" title="Dressed to Impress">
                </div>
                <h4>Dressed to Impress</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="feature-icon">
                  <img src="wp-content/uploads/2015/08/rocket.svg" title="Shoot for the Stars">
                </div>
                <h4>Shoot for the Stars</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>