<section id="section-hero" data-vc-parallax="1.5" data-vc-parallax-o-fade="on" data-vc-parallax-image="<%= image_url('coverweb.jpg') %>" class="vc_row wpb_row vc_row-fluid hero vc_custom_1441340364306 vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade" style="background: url('<%= image_path('coverweb.jpg') %>')">
  <div class="container wpb_column vc_column_container">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340359703">
          <div class="intro wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_left">

                  <figure class="wpb_wrapper vc_figure">
                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                      <%= image_tag 'logo-main.png', :width => '300', :height => '82', :class => 'vc_single_image-img attachment-full', :alt => '' %>
                    </div>
                  </figure>
                </div>
                <p style="text-align: left" class="vc_custom_heading lead">Porque expresarnos está en nuestras manos!</p>

              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper"><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>