<section id="section-info" class="vc_row wpb_row vc_row-fluid info vc_custom_1440649051435"><div class="container info-section-white wpb_column vc_column_container"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340647728"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="text-align: left" class="vc_custom_heading">Single Photo Example</h3><p style="text-align: left" class="vc_custom_heading lead">Here is an example with one single photo displayed on the right.</p>
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
      <p>Here is some dummy text. You can also use <span class="tooltip-trigger" title="" data-toggle="tooltip" data-original-title="Hey, i'm a top tooltip!">tooltips</span>. That one showed on top, but you can have it on the <span class="tooltip-trigger" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Bottom is better, guys!">bottom too</span>! How about <span class="tooltip-trigger" title="" data-toggle="tooltip" data-placement="left" data-original-title="Left is the way to go.">left </span>or <span class="tooltip-trigger" title="" data-toggle="tooltip" data-placement="right" data-original-title="Shut up, i'm right!">right</span>?</p>
      <p>If you need to display more information, how about a <span class="popover-trigger" title="" data-toggle="popover" data-placement="top" data-content="I make those little tooltips look ridiculous!" data-original-title="Hey, i'm a popover.">popover</span>?</p>

    </div>
  </div>
  <div class="vc_btn3-container vc_btn3-inline"><a style="background-color:#48c9b0; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom" href="#section-faq" title="">Tell Me More!</a></div>
  <div class="vc_btn3-container  inline vc_btn3-inline"><a style="background-color:#e74c3c; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom" href="#section-pricing" title="">Buy This Template</a></div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_single_image wpb_content_element vc_align_right">

    <figure class="wpb_wrapper vc_figure">
      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="800" height="600" src="wp-content/uploads/2015/08/img.png" class="vc_single_image-img attachment-image-800-600" alt="" srcset="http://themeforest.simonswissbox.com/booom-wp/wp-content/uploads/2015/08/img.png 800w, http://themeforest.simonswissbox.com/booom-wp/wp-content/uploads/2015/08/img-300x225.png 300w" sizes="(max-width: 800px) 100vw, 800px" /></div>
    </figure>
  </div>
</div></div></div></div></div></div></div></section>