<section class="vc_row wpb_row vc_row-fluid vc_custom_1440907993281"><div class="container wpb_column vc_column_container"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1441340436262"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="myCarousel" class="carousel slide "><ol class="carousel-indicators"><li data-target="#myCarousel" data-slide-to="0" class="active"></li><li data-target="#myCarousel" data-slide-to="1"></li><li data-target="#myCarousel" data-slide-to="2"></li></ol><div class="carousel-inner"><div class="item gallery-popup active">
  <a href="#">
    <img src="wp-content/uploads/2015/08/img-1.png" alt="img-1" title="img-1" class="img-responsive">
  </a>
</div><div class="item gallery-popup">
  <a href="#">
    <img src="wp-content/uploads/2015/08/img-2.png" alt="img-2" title="img-2" class="img-responsive">
  </a>

  <div class="carousel-caption">
    <h4>You can add captions</h4>
    <p>Kudos to <a href="#" target="_blank">Author Link </a>for the wonderful illustrations!</p>
  </div>
</div><div class="item gallery-popup">
  <a href="#">
    <img src="wp-content/uploads/2015/08/img-3.png" alt="img-3" title="img-3" class="img-responsive">
  </a>
</div></div><a href="#myCarousel" data-slide="prev" class="carousel-control fui-arrow-left left"></a><a href="#myCarousel" data-slide="next" class="carousel-control fui-arrow-right right"></a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="text-align: left" class="vc_custom_heading">Slideshow Example</h3><p style="text-align: left" class="vc_custom_heading lead">Display multiple images with the beautiful FlexSlider plugin.</p>
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
      <p class="modal-trigger">By the way, if the popover was still too small to show what you want, you can go with a full-blown <a href="#myModal" data-toggle="modal">modal window</a>!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! Saepe, dolor, consequatur, distinctio incidunt unde fuga expedita ducimus maiores tempora quis vitae?</p>

    </div>
  </div>
</div></div></div></div></div></div></div></section>