<section id="section-testimonials" class="vc_row wpb_row vc_row-fluid testimonials vc_custom_1440908300509">
  <div class="container wpb_column vc_column_container">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div id="testimonials-slider" class="carousel slide">
          <ol class="carousel-indicators">
            <!--
            <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials-slider" data-slide-to="1"></li>
            -->
          </ol>
          <div class="carousel-inner">
            <div class="active item">
              <div class="col-md-10 col-md-offset-1">
                <p class="lead">"...La tecnología en Educación Especial, tiene dos beneficios, por un lado los  software educativos permiten mejorar los contenidos para estimular el aprendizaje para niños y niñas con discapacidad. Por otro lado tiene la gran bondad que facilita la vida, por ejemplo, hay programas y software que pueden ser utilizados para niños que tienen discapacidad aditiva, software que permiten estimular a niños con discapacidad intelectual y visual".</p>
                <cite>Salvador Vanegas, <a href="#">Asesor del Presidente de la República para todas las modalidades de Educación</a></cite>
              </div>
            </div>

          </div>
          <!--
          <a href="#testimonials-slider" data-slide="prev" class="carousel-control fa fa-chevron-left left" style="padding-top: 8px !important;"></a>
          <a href="#testimonials-slider" data-slide="next" class="carousel-control fa fa-chevron-right right" style="padding-top: 8px !important;"></a>
          -->
        </div>
      </div>
    </div>
  </div>
</section>