// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header .navbar{
  background-color:#ffffff;
}

.header .navbar .navbar-collapse ul.navbar-nav li a {
  color:#34495e;
}

.header .navbar .navbar-collapse ul.navbar-nav li a:hover {
  color:#1abc9c;
}

.header .navbar-nav > li > .dropdown-menu {
  background-color:#ffffff;
}

.header .navbar-nav > li > .dropdown-menu li a:hover {
  background-color:#ffffff;
}

.header .navbar-nav > li > .dropdown-menu li.menu-item a:hover {
  color:#606d7a;
}

.header .navbar .navbar-collapse ul.navbar-nav li a.search-form-link span {
  color:#cccccc;
}

.header .navbar .navbar-collapse ul.navbar-nav li a.search-form-link span:hover {
  color:#cccccc;
}

.bottom-menu-inverse {
  background-color:#34495e;
}

.footer .bottom-menu-inverse ul.bottom-menu-iconic-list li a {
  color:#ffffff;
}

.vc_custom_1441340364306 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1440589188245 {
  margin-bottom: 0px !important;
  padding-bottom: 48px !important;
}

.vc_custom_1440595451487 {
  margin-bottom: 0px !important;
}

.vc_custom_1441340933285 {
  margin-bottom: 0px !important;
}

.vc_custom_1440649051435 {
  margin-bottom: 0px !important;
}

.vc_custom_1440907993281 {
  margin-bottom: 0px !important;
  background-color: #ecf0f1 !important;
}

.vc_custom_1440907878355 {
  margin-bottom: 0px !important;
}

.vc_custom_1440664056323 {
  margin-bottom: 0px !important;
}

.vc_custom_1440908300509 {
  margin-bottom: 0px !important;
}

.vc_custom_1441340488049 {
  margin-bottom: 0px !important;
}

.vc_custom_1440738651613 {
  margin-bottom: 0px !important;
}

.vc_custom_1441340359703 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1440906225343 {
  margin-bottom: 24px !important;
}

.vc_custom_1441340373824 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1441340385309 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1440906521319 {
  margin-bottom: 24px !important;
}

.vc_custom_1441341051351 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1441340647728 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1441340436262 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1441340448253 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1440908147047 {
  margin-bottom: 24px !important;
}

.vc_custom_1441340462151 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vc_custom_1440908426822 {
  margin-bottom: 24px !important;
}

.vc_custom_1441340518214 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.wpb_animate_when_almost_visible {
  opacity: 1;
}

img#wpstats{display:none}

.img-hover:hover {
  cursor: pointer;
}
