<!-- ///// NAVIGATION BAR /////-->
<header class="header">
  <!-- Static navbar-->
  <div role="navigation" class="navbar navbar-fixed-top primary-navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
        <a href="<%= root_path %>" class="navbar-brand">
          <%= image_tag 'logo-main.png', :alt => 'Boom!', :title => 'Boom!', :class => 'logo-img img-responsive' %>
        </a>
      </div>
      <div class="navbar-collapse collapse nav-right">

        <ul id="menu-main-menu" class="nav navbar-nav navbar-right"><li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a href="#section-features">Características</a></li>
          <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38"><a href="#section-gallery">Galería</a></li>
          <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="#section-testimonials">Testimonio</a></li>
          <!-- <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="blog/index.html">Blog</a></li> -->
          <li id="menu-item-41" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a href="#section-faq">FAQ/Contactos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>